/* Color Box Component Styles */

/* Ensure tooltips work even when buttons appear */
.color-box {
    position: relative;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #e0e0e0;
    display: inline-block;
}

.color-tooltip {
    z-index: 100001 !important;
}

.paint-name {
    font-weight: 500;
    color: #333;
    display: block;
}

.paint-type {
    font-size: 0.5em;
    font-style: italic;
    color: #666;
    display: block;
    margin-top: 2px;
}


